<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ChillAppz - Freezer Drink Timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>ChillAppz - Freezer Drink Timer</h1>
        <h2>Are you thirsty? Select a Drink</h2>
        <form action="/selectDrink" method="POST">
          <select id="selectedDrink" name="selectedDrink">
            <option value="select">Select a Drink</option>
            <% for (let i = 0; i < drinkOptions.length; i++) { %>
            <option value="<%= drinkOptions[i].drinkName %>">
              <%= drinkOptions[i].drinkName %>
            </option>
            <% } %>
            <option value="Custom">Custom</option>
          </select>
          <button type="submit">Select Drink</button>
        </form>
      </div>

      <div class="col-md-12">
        <h2>Add Your Custom Drink</h2>
        <form action="/addCustomDrink" method="POST">
          <input
            type="text"
            id="customDrinkName"
            name="customDrinkName"
            placeholder="Enter the drink name"
          />
          <button type="submit">Add Custom Drink</button>
        </form>
      </div>

      <div class="col-md-12">
        <h2>Set Freezing Time</h2>
        <form action="/setFreezingTime" method="POST">
          <input
            type="text"
            id="freezingTime"
            name="freezingTime"
            placeholder="Enter freezing time (minutes)"
          />
          <button type="submit">Set Freezing Time</button>
        </form>
      </div>

      <!-- <div class="col-md-12">
        <h1>Update Ice Cream Flavor</h1>
        <ul>
          <% for (var i=0; i< drinkOptions.length; i++ ) { %>
          <li>
            <form method="POST">
              <input
                type="hidden"
                id="devId"
                name="devId"
                value="<%= drinkOptions[i]._id %>"
              />
              <input
                type="text"
                id="devName"
                name="devName"
                value="<%= drinkOptions[i].name %>"
              />
              <button type="submit" formaction="/updateProfile">
                Update Flavor
              </button>
              <button type="submit" formaction="/deleteProfile">
                Delete Flavor
              </button>
            </form>
          </li>
          <% } %>
        </ul>
      </div>

      <div class="col-md-12">
        <h2>New flavor here</h2>
        <form action="/insertProfile" method="POST">
          <input
            type="text"
            id="newDevName"
            name="newDevName"
            placeholder="New flavor goes here"
          />
          <button type="submit">Insert New Flavor</button>
        </form>
      </div> -->
    </div>
  </body>
</html>
